
h1 {
  font-size: 80px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
p {
  font-size: 3rem;
  font-weight: 300;
}
button {
  background: #000;
}
button.inactive {
  background: rgba(0,0,0,.4);
}
.logo {
  background: #eee;
}
.header {
  background: #fff;
  border-bottom:1px solid #eee;
}
.header .menu {
  border-left: 1px solid #eee;
  padding-left: 40px;
}
.campaign-title {
  font-size: 18px;
  font-weight: 600;
  color:#353AC7;
}
.header .user-num {
  display: inline;
}
.header span {
  line-height: 44px;
}
.header button {
  margin-bottom: 0;
  padding-right:44px;
  padding-left:44px;
}
.uu-logo {
  text-align: center;
}
.menu ul { 
  display:flex;
  margin:0;
}
.menu  ul li {
  text-align: right;
  list-style: none;
  padding: 0 0 0 40px;
  margin-bottom: 0;
}
.menu a {
  color:#000;
  text-transform: uppercase;
  text-decoration: none;
  font-style: 1em;
  opacity: .5;
  font-size:14px;
}
.menu a:hover {
  opacity: 1;
}
.hero  {
	position: relative;
  padding:100px 100px;
	overflow: hidden;
  background:url('../images/zuck.png') no-repeat;
  background-size: cover;
  color:#fff;
  display: none;
}
.how-it-works {
  padding: 100px;
  color:#080d19;
  position: relative;
  overflow: hidden;
  background: #ddd;
  text-align:center;
  display: none;
}
.steps-img {
  background:url('../images/steps-img.png') no-repeat;
  background-size: 600px 200px;
  width: 200px;
  height:200px;
  margin:0 auto;
}
.sidebar h5 {
  text-align: center;
}
.log {
  background: #fff;
  border-right:1px solid #ddd;
}
.log h2 {
  color:rgba(0,0,0,.5);
}
.user-num {
   color:#333;
   display: block;
}
.user-sum {
   color:#1877F2;
}
.log .ledger {
  background: #eee;
  min-height: 700px;
}
.signup-container {
  background: #eee;
  min-height: 700px;
  padding:40px;
}
.ledger tr {
  display: flex;
}
.log td:first-child {
  padding-left: 40px;
}
.log td:nth-child(2) {
  flex-grow: 2;
}
.log td:last-child {
  padding-right: 40px;
}
.log span {
  font-size:18px;
  line-height: 24px;
}
.log label {
  margin:0;
}
.cta {
  position: relative;
  padding:100px;
  overflow: hidden;
  background:url('../images/zuck.png') no-repeat;
  background-size: cover;
  color:#fff;
  text-align:center;
  display: none;
}
.transaction-log {
  margin:20px 0 0 16px;
}
.transaction-log li {
  list-style: none;
  width: 90%;
  border-bottom:1px solid #ccc;
  border-left:1px dashed #000;
  padding:30px 0;
  margin:1px 0;
  display: inline-flex;
}
.transaction-log li:hover {
  background: linear-gradient(45deg,rgba(255,255,255,0), rgba(255,255,255,.7));
  cursor: pointer;
}
.transaction-log li:nth-child(1) {
  padding-top:0;
  margin-top:30px;
}
.transaction-log li:nth-child(1):hover {
  background: inherit;
}
.transaction-log li:last-child {
  border-bottom:none;
}
.campaign-avatar {
  position: relative;
  height: 124px;
  width: 124px;
  margin:40px auto;
  border-radius:50%;
}
.avatar {
  position: relative;
  height: 44px;
  width: 44px;
}
.campaign-avatar i {
  font-size: 134px;
  line-height: 124px;
  margin-left: -4px;
  color:#000;
  opacity: 1;
}
.avatar-placeholder {
  background:url('../images/avatar-placeholder.png') no-repeat;
  background-size:44px 44px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.facebook-logo {
  background:url('../images/fb-logo.png') no-repeat;
  background-size:124px 124px;
  height: 124px;
  width: 124px;
}
.transaction-content {
  padding:0 0 0 40px;
  margin-top:-10px;
  width: 80%;
}
.transaction-content span {
  line-height: 10px;
  font-size:20px;
}
#circle-container {
  position: relative;
  margin: 30px auto 0;
  width:124px;
  height: 200px;
}
#circle-container strong {
    position: absolute;
    top: 90px;
    left:30px;
    width: 100%;
    text-align: center;
    line-height: 0px;
    font-size: 30px;
    color:#000;
    font-family: 'Michroma', sans-serif;
}
.region-list li {
  list-style: none;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;
  margin:0 0 0 14%;
}
#burst-placeholder {
  background:url('../images/burst-placeholder.png') no-repeat;
  background-size: 325px 253px;
  width: 352px;
  height:253px;
  margin:0 auto;

}

